@model SiteManagement.Models.DTOs.CreatePersonDTO;
<style>
    #position {
        position: absolute;
        left: 28%;
        top: 10%;
    }

</style>

<br />
<div style="width:40%;" id="position">
    <form class="avarage" asp-action="CreatePerson" asp-controller="Resident" method="post">
        <h5>Kişi ekleyin</h5> <br />
        <div class="form-floating mb-3">
            <input type="text" style="font-size:20px;" class="form-control" id="floatingInput" placeholder="Kişi adı ve soyadı" asp-for="NameSurname">
            <label for="floatingInput">Kişi adı ve soyadı</label>
        </div>
        <button type="submit" class="btn btn-outline-primary" style="width:25rem; position:absolute; right:2%;">Ekle</button> <br /> <br />
        <h6>Vazmı geçtiniz <a href="https://localhost:44309/resident/residentlist/@ViewBag.ApartmentId">geri dönün</a> </h6>
    </form>
</div>