<div style="width:100%;  min-height:100vh;">
    <!---->
    <div class="row" style="width:100%; min-height:18vh;">
        <div class="col" style="border-radius:15px;background-color:#1F618D;">
            <b>Hoş geldin @TempData["welcomeMessage"]</b>
            <center>
                <br />
                <b>Daireler</b> <br /> <br />
                <i class="fa-solid fa-house fa-2xl"></i> <br /> <br />
                <b>.... Daire</b>
            </center>
        </div>
        <div class="col" style="border-radius:15px; background-color:#566573;">
            <center>
                <br /><br />
                <b>Görevliler</b> <br /> <br />
                <i class="fa-solid fa-user fa-2xl"></i> <br /><br />
            </center>
        </div>
        <div class="col" style="border-radius:15px; background-color:#A569BD;">
            <center>
                <br /><br />
                <b>Borcunuz</b> <br /> <br />
                <i class="fa-solid fa-turkish-lira-sign fa-2xl"></i> <br /><br />
                <b>... TL</b>

            </center>
        </div>
        <div class="col" style=" border-radius:15px;background-color:#52BE80;">
            <center>
                <br /><br />
                <b>Ödeme Geçmişi</b> <br /> <br />
                <i class="fa-solid fa-money-bill-trend-up fa-2xl"></i></i> <br /><br />
            </center>
        </div>
    </div>
    
</div>
<script src="https://kit.fontawesome.com/410752035b.js" crossorigin="anonymous"></script>
