@model SiteManagement.Models.DTOs.CreateSiteDTO;

<style>
    #position{
        position:absolute;
        left:28%;
        top:10%;
    }

</style>
<br />
<div style="width:40%;" id="position">
    <form class="avarage" asp-action="CreateNewSite" asp-controller="Management" method="post">

        <h5>Site oluşturun</h5> <br />
        <div class="form-floating mb-3">
            <input type="text" style="font-size:20px;" class="form-control" id="floatingInput" placeholder="Site adı" asp-for="Name">
            <label for="floatingInput">Site Adı</label>

        </div>

        <script type="text/javascript">
            $(document).ready(function () 
            {

                $.ajax(
                    {
                        type: "post",
                        url: '@Url.Action("GetCategories", "Management")',
                        success: function (categories) {
                            $.each(categories, function (index, category) {
                                $('#Categories').append($('<option/>',
                                    {
                                        value: category.id,
                                        text: category.name
                                    }));
                            }
                            );
                        },
                        error: function () {
                            /*Bu metod ile Ajax işlemi başarısız
                            olursa eğer hata mesajı verebiliyoruz.*/
                            alert("Hata");
                        }
                    });


                // Kategori seçildiğinde bu fonksiyonumuz çalışmaya başlayacaktır.
                $('#Categories').change(function () {
                    // Seçilen Kategorinin ID sini alıyoruz.
                    var categoryId = $(this).val();
                    /*Seçilen KategoriID sini kullanarak
                    Kategori(Controller) sınıfı içerisindeki AltKategorileriGetir
                    Action metodunu çağırıyoruz.
                    Bu metoddan dönen liste sayesinde .each fonksiyonu ile
                    AltKategori isimli DropDownList nesnesini dolduruyoruz.*/
                    if (categoryId != null && categoryId != '') {
                        $.ajax({
                            type: "post",
                            url: '@Url.Action("GetSubCategories", "Management")',
                            data: { categoryId: categoryId },
                            success: function (subCategories) {

                                $('#SubCategories').find('option').remove().end().append('<option selected="selected">İlçe Seçin</option>');

                                $.each(subCategories, function (index, category) {
                                    $('#SubCategories').append($('<option/>', {
                                        value: category.provinceId,
                                        text: category.name
                                    }));
                                });
                            },
                            error: function () {
                                /*Bu metod ile Ajax işlemi başarısız
                                olursa eğer hata mesajı verebiliyoruz.*/
                                alert("Hata");
                            }
                        });
                    }
                });
            });
        </script>

        <select class="form-select" id="Categories" >
            <option selected>Şehir Seçin</option>
        </select>
        <br />
        <select class="form-select" id="SubCategories" asp-for="DistrictId">
            <option selected>İlçe Seçin</option>
        </select>
        <br />


        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Adres" asp-for="Adress">
            <label for="floatingInput">Site Adresi</label>

        </div> <br />

        <button type="submit" class="btn btn-outline-primary" style="width:25rem; position:absolute; right:2%;">Oluştur</button> <br /> <br />
        <h6>Vazmı geçtiniz <a href="https://localhost:44309/yonetim">geri dönün</a> </h6>

    </form>

</div>





