
<style>
    .ul {
        float: left;
        width: 40%;
        margin: 10px;
        position:absolute;
        top:10%;
        left:29%;
    }

    .btn1{
        float:right;
        margin:5px;
    }


    

    
</style>

<a style="float:right; margin:10px;" href="https://localhost:44309/management/createnewsite"><button type="button" class="btn btn-success">Site Oluştur</button></a>




<div class="ul">
    <ul class="list-group ">
        @foreach (var item in ViewBag.SiteList)
        {
            <li class="list-group-item ">
                @item.Name
                <button type="button" class="btn btn-outline-danger btn1">Sil</button> <button type="button" class="btn btn-outline-success btn1">Düzenle</button>

            </li>

        }
    </ul>
</div>





