<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Management</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="sass.html">Ana Sayfa</a></li>
            <li><a href="badges.html">Dairem</a></li>
            <li><a href="collapsible.html">Yönetim</a></li>
        </ul>
    </div>
</nav>